*{
    margin:0px;
    padding: 0px;
    
}

#container{
    text-align: center;
    margin-top: 100px;
    
}
input{
        font-size: 40px;
     border-radius: 10px;
    width: 250px;
    
}
#cal{
    text-align: center;
    margin: auto;
    border: 2px solid black;
    display: inline-block;
    background-color: brown;
    margin-top: 10px;
    padding: 20px;
    
    
}
table{
    
    margin: auto;
    border-radius: 50px;

    
}
button{
    font-size: 30px;
    width:60px;
    height: 50px;
    color: black;
     border-radius: 10px;
    background-color: aqua;
    text-decoration-color: black;
    font-family: vardana;
}

button:hover{
    cursor: pointer;
    background-color: azure;
}



